
/** ADD YOUR AWESOME CODES HERE **/


.btn-invite-down{
    margin-top: 40px;
    border-radius:3px;
    text-decoration:none;
    font-family:sans-serif;
    font-size:20px;
    padding: 10px 20px;
    background-color: #890125;
    color:#fff;
    transition-delay:.2s;
    transition:.3s;
    font-variant-caps:all-small-caps;
    box-shadow:4px 3px 11px 0 #89012599;
    top: 105px;
    }
.btn-invite-down:hover{
    background-color: #890125;
    box-shadow: 4px 3px 11px 0 #893401b0;
    color: whitesmoke;
    }
